.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1110px;
    margin: 10px auto 0;
}

@media screen and (max-width: 1110px) {
    .root {
        width: 768px;
        margin: 10px auto 0;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .root {
        width: 540px;
        margin: 10px auto 0;
        justify-content: space-between;
    }
}

@media screen and (max-width: 540px) {
    .root {
        width: 340px;
        margin: 25px auto 0;
        justify-content: space-between;
    }
}