.root {
    background: rgba(23, 23, 23, 0.8);
    box-shadow: 9px 20px 25px rgba(0, 0, 0, 0.45);
    padding: 15px;
}

.root>div {
    display: flex;
    flex-direction: column;
    border: 1px solid #313131;
}
.root>div>div:first-child {
    margin: -30px auto auto;
}

.menuItems {
    display: flex;
    flex-direction: column;
    margin: 50px 90px 70px;
}

.menuItems>a {
    margin: 10px auto;
}

.address {
    width: 140px;
    margin: 20px auto 0;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: relative;
}
.address:hover {
    cursor: pointer;
}

.address>div {
    margin: auto;
    position: absolute;
    top: -40px;
    left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5px 10px;
    text-align: center;
    background-color: #494949;
    box-shadow: 0 0 5px 3px #141414;
}

@media screen and (max-width: 768px) {
    .menuItems {
        margin: 40px 40px 30px;
    }
}

@media screen and (max-width: 540px) {
    .menuItems {
        margin: 40px 10px 30px;
    }
}
