.rootBtn {
    width: 230px;
    height: 52px;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin: 0 15px;
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.activeBtn {
    -webkit-filter: drop-shadow(0px 2px 10px rgba(238, 145, 87, 0.44));
    filter: drop-shadow(0px 2px 10px rgba(238, 145, 87, 0.44));
}

.activeBtn:hover {
    cursor: pointer;
}